tmp/
*__pycache__*
data/*/proc_data.py
data/*/src
data/dirac-fock/declaux.ods
data/dirac-fock/*.dat
data/hartree-fock/HF
data/*/compute_avg.py
data/perturbative/hullac
data/perturbative/config*
data/*/*/*_avg*
data/*/*/*_mrg*
.vscode/
main_explore.py
src/my_plot.py
graphs/
.gitignore.data